* {
    font-family: 'Segoe UI', sans-serif;
}

#chat > header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 16px;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.chat-user {
    display: flex;
    align-items: center;
}

.chat-user img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.chat-user p {
    font-size: 14px;
    font-weight: bold;
    margin: 0 14px;
}

.chat-actions {
    display: flex;
}

.chat-actions button{
    border: 0;
    background-color: transparent;
    width: 25px;
}

.chat-actions button:hover{
    background-color: #f3f2f1;
    cursor: pointer;
}

#chat > section {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 5px;
}

#chat .msg{
    max-width: calc(100% - 50px);
    margin-bottom: 12px;
    border-radius: 10px;
    padding: 14px;
}

#chat .receiver {
    background-color: #0078d7;
    color: #fff;
    border-top-left-radius: 0;
    align-self: flex-start;
}

#chat .sender {
    background-color:  #f1f1f4;
    color: #2b2c33;
    border-top-right-radius: 0;
    align-self: flex-end;
}

#chat footer {
    display: flex;
    border-top: 1px solid #d5d9de;
    background-color: #fff;
}

#chat footer button {
    background-color: transparent;
    border: 0;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    outline: none;
}

#chat footer button:hover {
    background-color: #f3f2f1;
    cursor: pointer;
}

.input-chat-msg {
    width: 100%;
    border: 0;
    font-size: 14px;

}

.input-chat-msg:focus {
    outline: none;
}

.input-chat-msg::placeholder {
    color: #dadde1;
}

#chat {
    width: 360px;
    height: 500px;
}

#chat ::-webkit-scrollbar {
   width: 5px;
}

#chat ::-webkit-scrollbar-track {
    background-color: #fbfbfb;
}

#chat ::-webkit-scrollbar-thumb {
    background-color: #dddddf;
    border-radius: 5px;
}

#chat ::-webkit-scrollbar-thumb:hover {
    background-color: #cecece;
}